.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
    background-image: url('img-principal.png');
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .hero-section h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  
  .search-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ffd700;
    color: black;
  }
  